.english-pages {
  display: flex;
  font-family: Roboto;
  justify-content: center;
  //   margin-top: 5em;
  .contents {
    padding: 6em 0;
    height: 100%;
    width: 1197px;
    display: grid;
    // grid-template-columns: 2.1fr 1fr;
    gap: 3em;
    .main-section {
      .heading {
        color: $primaryPink;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 1em;
      }
      .desc {
        font-size: 17px;
        color: rgb(38, 38, 38);
        word-spacing: 10px;
        text-align: justify;
        .title {
          font-size: 21px;
          font-weight: 500;
        }
      }
    }
    .links-section {
      font-family: "Roboto", sans-serif;
      .title {
        color: $primaryBlue;
        font-size: 35px;
        font-weight: 600;
      }
      .links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        .link {
          display: flex;
          align-items: center;
          color: $primaryBlue;
          font-size: 20px;
          text-decoration: underline;
          .dot {
            min-width: 30px;
            min-height: 30px;
          }
          &:hover {
            color: $primaryPeru;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1310px) {
    .contents {
      width: 1050px;
    }
  }
  @media screen and (max-width: 1160px) {
    .contents {
      width: 900px;
    }
  }
  @media screen and (max-width: 1020px) {
    .contents {
      width: 700px;
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 790px) {
    .contents {
      width: 600px;
    //   display: flex;
    //   flex-direction: column;
    }
  }
  @media screen and (max-width: 670px) {
    .contents {
      width: 500px;
    }
  }
  @media screen and (max-width: 600px) {
    .contents {
      padding: 4em 1em;
      width: 480px;
      .main-section {
        .heading {
          font-size: 27px;
        }
        .desc {
          font-size: 15px;
        }
      }
      .links-section {
        .title {
          font-size: 25px;
        }
        .links-wrapper {
          .link {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 510px) {
    .contents {
      width: 450px;
    }
  }
  @media screen and (max-width: 457px) {
    .contents {
      width: 420px;
    }
  }
  @media screen and (max-width: 417px) {
    .contents {
      width: 400px;
    }
  }
  @media screen and (max-width: 393px) {
    .contents {
      width: 380px;
    }
  }
  @media screen and (max-width: 379px) {
    .contents {
      width: 370px;
    }
  }
  @media screen and (max-width: 343px) {
    .contents {
      width: 320px;
    }
  }
  @media screen and (max-width: 317px) {
    .contents {
      width: 300px;
    }
  }
  @media screen and (max-width: 291px) {
    .contents {
      width: 250px;
    }
  }
}
