@import "./sideDrawer";

.header-comp {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  .top-bar {
    background-color: $primaryDarkBlue;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    .contents {
      height: 100%;
      width: 1197px;
      display: flex;
      justify-content: space-between;
      .social-icons-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.9em;
        .icon {
          cursor: pointer;
          width: 18px;
          height: 18px;
          color: #fff;
        }
      }
      .info-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        .info {
          cursor: pointer;
          color: #fff;
          font-size: 15px;
        }
        .dot-icon {
          margin-top: 2.5px;
          color: #fff;
          width: 30px;
          height: 30px;
        }
      }
    }

    @media screen and (max-width: 1310px) {
      .contents {
        width: 1050px;
      }
    }
    @media screen and (max-width: 1160px) {
      .contents {
        width: 900px;
      }
    }
  }
  @media screen and (max-width: 1025px) {
    .top-bar {
      display: none;
    }
  }
  .bottom-bar {
    // height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    .contents {
      padding: 1em 0;
      // background-color: red;
      height: 100%;
      width: 1197px;
      display: flex;
      align-items: center;
      .main-logo {
        width: 140px;
        height: 65px;
      }
      @media screen and (max-width: 800px) {
        .main-logo {
          margin-left: 0.5em;
        }
      }
      @media screen and (max-width: 500px) {
        .main-logo {
          width: 100px;
          height: 50px;
        }
      }
      .menu-items {
        margin-left: auto;
        display: flex;
        gap: 2em;
        .menu-item {
          display: flex;
          flex-direction: column;
          font-weight: 200;
          text-decoration: none;
          font-size: 20px;
          color: $primaryBlue;
          .nav-btn {
            text-decoration: none;
          }
          .dropdown-content {
            margin-top: 1.5em;
          }
        }
      }
      .toggle-icon {
        cursor: pointer;
        margin-left: auto;
        color: $primaryBlue;
        margin-right: 1em;
        width: 30px;
        height: 30px;
      }
      @media screen and (min-width: 1025px) {
        .toggle-icon {
          display: none;
        }
      }
      @media screen and (max-width: 500px) {
        .toggle-icon  {
          width: 25px;
        height: 25px;
        }
      }
    }
    @media screen and (max-width: 1310px) {
      .contents {
        width: 1050px;
      }
    }
    @media screen and (max-width: 1160px) {
      .contents {
        width: 900px;
      }
    }
    @media screen and (max-width: 1020px) {
      .contents {
        width: 700px;
      padding: 0.5em 0;

      }
    }
    @media screen and (max-width: 1025px) {
      .contents {
        .menu-items {
          display: none;
        }
      }
    }
  }
}

// ------------------------drop down-----------------------
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  // max-width: 200px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .nav-link {
  background-color: #f1f1f1;
  width: 100%;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  // font-size: 20px !important;
  font-size: 17px !important;
}

.dropdown-content .nav-link:hover {
  color: $primaryDarkBlue;
  background-color: #ddd;
  width: 100%;
}
a {
  color: $primaryBlue;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}
